body {
    background-color: #F3FBF4;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FDFDFD;
  color: rgb(144, 231, 130);
  height: 50px;
  padding: 10px;

}

.App-header h1 {
  font-size: 2em;
  text-align: left;
  margin-left: 3%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
