.profile-picture {
    border-radius: 35%;
}

.edit-info-link {
    font-weight: bold;
}

.edit-info-link:hover {
    color: yellow;
}

.edit-info-link:hover {
    background-color: white;
    border-radius: 10%;
}

.profile-info {
    border-radius: 10%;
}

.username {
    font-weight: bold;
    color: #08E6C8;
}