.loginDescription {
    margin-top: 4%;
}

.learnMore {
    margin-top: 4%;
}

.user-form {
    margin-top: 4%;
}

/* i {
    border: solid black;
    border-width: 0 5px 5px 0;
    font-size: 125%;
    font-weight: bold;
    display: inline-block;
    padding: 3px;
    color: black;
} */

/* .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */