.loginDescription {
    margin-top: 4%;
    font-weight: bolder;
}

h4 {
    font-weight: bold;
}

.learnMore {
    margin-top: 4%;
    color: #08E6C8;
    font-weight: bold;
}

.learnMore:hover {
    color: yellow;
    cursor: pointer;
}

.user-form {
    margin-top: 4%;
}

.login-2nd {
    font-weight: bold;
    font-size: 120%
}

.signUp {
    color: #08E6C8;
}

.signUp:hover {
    color: yellow;
    cursor: pointer;
}

.car {
    color: red;
}

.tree {
    color: green;
}

.star {
    color: yellow;
}

input[type=text]:focus {
    background-color: #08E6C8;
}

input[type=text]:hover {
    background-color: #08E6C8;
}

input[type=password]:focus {
    background-color: #08E6C8;
}

input[type=password]:hover {
    background-color: #08E6C8;
}

button {
    font-weight: bold;
}

/* i {
    border: solid black;
    border-width: 0 5px 5px 0;
    font-size: 125%;
    font-weight: bold;
    display: inline-block;
    padding: 3px;
    color: black;
} */

/* .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */