.profile-info {
    background: #FDFDFD;
    box-shadow: 2px -1px 10px 1px rgba(231,231,231,0.31);

}

.profile-picture {
    width: 95%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 18px;
}

.invisible {
    display: none;
}

.show {
    display: block;
}

.basic-info-container {
    margin-top: 50px;
    margin-bottom: 30px;
}

.basic-info-text {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding-top: 10px;
    padding-bottom: 10px;
}

.chart-container {
    display: inline-block;
    margin-top: 50px;
    padding: 15px;
    min-width: 120px;
    max-width: 1200px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.edit-info-link {
    color: #08E6C8;
    font-size: 14px;
    cursor: pointer;
}

.feed-container {
    display: inline-block; 
    margin-top: 60px;
    padding: 15px;
}

.saveButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hide {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50; 
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal {
   display: block;
   width: 600px;
   height: 780px;
   max-width: 100%;
   max-height: 100%;
   position: fixed;
   z-index: 100;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   -webkit-perspective: 1300px;
   -moz-perspective: 1300px;
   perspective: 1300px;
   background: #FDFDFD;
   transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   -moz-transform: translateX(-50%) translateY(-50%);
   -ms-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
   overflow: hidden;
}


.closed {
    display: none;
}

.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 50px 20px 20px;
    text-align: left;
}

.modal-content button {
    margin-bottom: 20px;
}



.editable {
    border: 1px solid #08E6C8;
    color: grey;
    padding: 1% 3%;
    
}

.editable:focus {
    outline: none;
}

.loader {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

.loader img {
    margin-top: 20%;
    width: 90%;
}

.modal-content input {
    margin-left: 2%;
}

.modal-content input[type="radio"] {
    margin: 1%;
}

.modal-content input[type="checkbox"] {
    margin: 1%;
}

.alert {
    display: none;
}

.errorInput {
    border: 1px solid rgb(231, 148, 148);
}

.show {
    display: block;
}

.closeLink {
    cursor: pointer;
    position: absolute;
  
    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;
    
    top: 10px;
    
    /* needs to look OK with or without scrollbar */
    right: 20px;
    
    border: 0;
}

.trophyCase {
  border: 2px solid white;
  background-color: white;
  margin-top: 10%;
  border-radius: 10%;
  padding: 18px;
  
}

.events {
    border-radius: 10%;
}

.cancelLink {
    color: tomato;
    margin-left: 1em;
    font-size: .65em;
    transition: color 0.2s ease-in-out;
    display: block;
    margin-bottom: 18px;
}

.cancelLink:hover {
    color: rgb(194, 0, 0);
    text-decoration: none;
}

.fb {
    color: #3B5998;
    margin-right: 5%;
}

.fb:hover {
    color:#000;
    cursor: pointer;
}

.twtr {
    color: #1DA1F2;
    margin-right: 5%;
}

.twtr:hover {
    color:#000;
    cursor: pointer;
}

.googl {
    color: #DB4437;
}

.googl:hover {
    color:#000;
    cursor: pointer;
}
